<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>NetShield</string>
	<key>CFBundleExecutable</key>
	<string>NetShieldControl</string>
	<key>CFBundleIdentifier</key>
	<string>com.eolnmsuk.netshield.control</string>
	<key>CFBundleName</key>
	<string>NetShieldControl</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleVersion</key>
	<string>20003</string>
	<key>MinimumOSVersion</key>
	<string>16.0</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.networkextension.filter-control</string>
		<key>NSExtensionPrincipalClass</key>
		<string>NSFilterControlProvider</string>
	</dict>
</dict>
</plist>
